@import '../global.scss';

.input-component {
  width: 100%; height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-component-row {
  width: 100%; height: auto;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  align-items: center;
}

.input-label {
  width: auto;
  font-family: 'Anton', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: $fontSize;
  margin-right: 10px;
  color: $textColor;
}

.input {
  width: 100%;
}

.input-row {
  width: auto;
  display: flex;
  flex-direction: row;
}